.Title {
    font-size: 14em;
    flex: 1;
}

.Intro-Screen {
    height: 100vh;
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}